@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Colors set  */
:root {
	--primary: #fedb27;
	--secundary: #e3097e;
	--text1: #05153b;
	--text2: white;
  --focus1:rgb(99, 197, 246);
}

#root {
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: var(--primary);
	min-height: 100vh;
	min-width: 100vw;
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	color: var(--text);
  
}

h1 {
	font-size: 2rem;
}
.trapezoid{
  clip-path: polygon(5% 0, 95% 0, 100% 98%, 0% 98%);
   &:focus {
  outline: none;
  background-color: var(--focus1);
  font-weight: bold;
  }
}
.home {
   & h1 {
    margin:5rem 0;
   }
	& section {
    position: relative;
		background-color: var(--secundary);
		margin: 2rem auto;
		padding: 2rem;
    z-index: 2  ;
		& button {
			padding: 2rem;
      z-index: 3;
      border:none;
		}
		& p.joke {
			color: var(--text2);
		}
	}
  & section.random-joke-container{
    & ::before{
    content:"";
    border: 0.3rem dashed var(--text2);
    position: absolute;
    top: -0.5rem;    
    left: -0.5rem;
    right: -0.5rem;
    bottom: -0.5rem;
    z-index: 1 ;
    pointer-events: none;
   }
  }
	& .id-joke-container {
		background-color: var(--text2);
		& p.joke {
			color: var(--text1);
		}
		& button {
			background-color: var(--secundary);
			color: var(--text2);
			border-radius: 50%;
			aspect-ratio: 1;
			width: 2rem;
			margin: 1rem;
			padding: 0;
			gap: 1rem;
      &:focus {
       outline-color: var(--focus1);
		}}
	}
	& section.all-jokes-container {
    z-index: 2  ;
    &button{
      z-index: 3  ;
    }
    
    & ::before{
    content:"";
    border: 0.3rem dashed var(--text2);
    position: absolute;
    top: -0.5rem;    
    left: -0.5rem;
    right: -0.5rem;
    bottom: -0.5rem;
    z-index: 1;
    pointer-events: none;
   }
		color: var(--text2);
		& ul {
			list-style-type: none;
			padding: 0;
			& li {
				margin-top: 2rem;
				margin-bottom: 2rem;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	h1 {
		font-size: 3rem;
	}
	.home section {
		max-width: 75%;
	}
  button.trapezoid{
    width:40vw;
    height: 30vh;
  }
}
